.data__container{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    gap: 20px 5px;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(173, 168, 168, 0.219);
    padding: 15px 0;
}

